<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <span class="navbar-brand" href="#">Expedia Hotels</span>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/dashboard"><i class="fa fa-columns"></i> Dashboard</a>
        <a class="nav-item nav-link" routerLink="/hotels"><i class="fa fa-hotel"></i> Hotels</a>
      </div>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
