/* You can add global styles to this file, and also import other style files */

body, html {
  font-family: 'Raleway' !important;
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: calc(100vh - 4em);
}

.navbar {
  background-color: #5D1049;
}

.content {
  background-color: #5D1049;
}

.content .content-card {
  background-color: white;
  border-radius: 2em 2em 0px 0px;
}

.btn, .form-control, .card {
  border-radius: 2em;
}

.btn-primary, .btn-primary.active, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
  background-color: #720D5D;
  border-color: #720D5D;
}

.footer {
  width: 100%;
  height: 4em; /* Set the fixed height of the footer here */
  line-height: 4em; /* Vertically center the text there */
  background-color: #4E0D3A;
  border-radius: 2em 2em 0px 0px;
  color: white;
}